* { 
    margin: 0;
    background-color: skyblue;
} 

.header { 
    display: flex;
    gap: 2em;  
    background-color: skyblue;
    font-size: 2rem;
    justify-content: center;
    align-items: center; 
} 

/* .information, 
.contact { 
} */ 

.information-content-items { 
   position: absolute;
   top: 3em;
   left: 26em;  
   /* background-color: red; */
} 

/* #contact-content-items { 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.8em;
    left: 40em; 
}   */

#contact-info-container { 
    position: absolute;
    top: 3em; 
    left: 33em; 
}
 

